<p>Text učebnice z roku <b>1995</b>:
<br>Na konci revoluce se octla polní vojska táborů a sirotků v izolaci, poněvadž se odmítala připojit ke kompromisu a složit zbraně. Proti další existenci polních vojsk se spojili umírnění kališníci v čele s Prahou, čeští katolíci (Plzeňsko, Oldřich z Rožmberka) a někteří hejtmané táborsko-sirotčího svazu. K nim patřil východočeský husita Diviš Bořek z Miletínka. Pod vedením pana z Miletínka byly spojeným zemským vojskem v proslulé bitvě u Lipan 30. května 1434 polní obce poraženy. Jejich bojovníci se dali vylákat z vozové hradby, když spojenci předstírali ústup. Vozová hradba pak byla při protiútoku rozbita a kněží Prokop Veliký i Prokůpek padli. Bitva otevřela cestu k míru. Táboři i sirotci se podřídili zemskému sněmu a rozpustili polní vojska.
</p>